<!-- This will create a button that will eventually allow the addition of a new creature-->
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Creature</button>
    </div>
</div>
<!-- Template for how creatures will be displayed-->
<div class="row">
    <div class="col-xs-12">
        <app-creature-attribute
         *ngFor="let creatureElement of creatures"
         [creature]="creatureElement"
         (creatureSelected)="onCreatureSelected(creatureElement)"></app-creature-attribute
            >
    </div>
</div>

