<!-- This will create a button that will eventually allow the addition of a new creature-->
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Creature</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">Creature Name</h4>
                <p class="list-group-item-text">Creature Type</p>
                <p class="list-group-item-text">Description</p>
            </div>
            <span>
                <img src="" alt="" class="img-responsive" style="max-height: 50px;">
            </span>
        </a>
    </div>
</div>
<p>creature-list works!</p>
